{* Smarty *}

   <table width=100% height=7% border=0 CELLSPACING=0
          style="BORDER-BOTTOM: black  1px solid">
   <tr>
   <td width=13%>
           <p align='right'>
           <font size="1"> Проект здійснюється за підтримки:
           <br> <b>НПП "Трайфл" </b>
           <A href="http://trifle.net/?lang=ru">
           <IMG alt="Trifle Co., Ltd"  align="absmiddle"
                 src="trifle.gif"
            border=0>
           </A>
           <br> <b>Company </b>
           <A href="http://www.apriorit.com/">
           <IMG alt="ApriorIT Co., Ltd"  align="absmiddle"
                 src="apriorit.gif"
            border=0>
           <!--  src="http://oi.dp.ua/trifle/trifle.gif"
            -->
           </A>
           </font>
   <td width=60%>
           <center>
           <font size=1 face='arial'>ДНІПРОПЕТРОВСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</font><br>
           <font size=1 face='arial'>факультет прикладної математики</font><br>
           <font size=6><b>J O U R N A L - online</b></font><BR>
           <font size=1 face='arial'><b>Система обліку відвідування та успішності студентів</b></font>
           </center>
   <td width=13%>
           <p align='left'>
           <font size="1"> <A href="http://olymp.dp.ua">
                            Регіональний дистанційний центр учнівських та студентських олімпіад
                            </A>
                            <br>
                           при Дніпропетровському національному університеті
                           (    <A href="http://www.dsu.dp.ua"> ДНУ </A>    )

           </font>
   </table>
