{* Smarty *}

<h3>
Ласкаво просимо до системи онлайнового обліку відвідування та успішності студентів
<br />
Дніпропетровського національного університету
<br />
JOURNAL-online.
<br />
<br />
Для подальшої роботи користуйтеся меню зліва.
</h3>
