{* Smarty *}

Система розробляється на факультеті пригладної математики Дніпропетровського національного університету (ДНУ)
<br />
сумісними зусиллями кафедри комп'ютерних технологій
<br />
та Регіонального дистанційного центру учнівських та студентських олімпіад (РДЦУСО) при ДНУ.
<br />
<br />
<b>Керівники роботи:</b>
<br />
доцент Хижа Олександр Леонідович.
<br />
. . .
<br />
<br />

<b>Виконавці:</b>
<br />
Бойко Юлія Петрівна, студентка гр. ПК-11м-2.
<br />
Бойко Дмитро Вадимович, студент гр. ПМ-08-2.
<br />
. . .
<br />
<br />
<br />
Запрошуємо викладачів і студентів до участі у розробці Системи <b>JOURNAL-online</b>.
<br />
Вітаємо будь-які поради та побажання щодо удосконалення Системи.