{* Smarty *}

{literal}
<script type="text/javascript">
<!--
   function call(s)
   {  
      //alert(s);
      document.formRunMenu.menuItem.value=s;
      //alert(document.formRunMenu.menuItem.value);
      document.formRunMenu.submit();
      return false;
   }
// -->
</script>
{/literal}

<form method="POST" name="formRunMenu" action="index.php">
  <input type="hidden" name="menuItem" value="">
</form>

<p align=center> М Е Н Ю <br /> </p>

{foreach from=$menu_list item=i}
   <a href="" onClick="return call({$i.action})">{$i.name}</a><br>
   <br>
{/foreach}
