.calendar{
	position: absolute;
}
.calendar tr.number{
	height: 75px;
}
.tbody tr{
	height: 20px;
	/*text-align:center;*/
}
.tbody td{
	text-align: center;
}
.calendar td{
	width: 150px;
}
.day {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}
.calendar td.lesson-number{
	width: 15px;
	text-align: center;
}
.group-select{
	position: absolute;
	/*margin-bottom: 10px*/
}
.week-select{
	position: relative;
	margin-left:658px;
	/*margin-bottom: 10px;*/
}
.instruments{
	margin-left:970px; 
	margin-top:0; 
	position: relative;
}

.selected{
	background-color: #0f0;
}